@model IEnumerable<Soft_W_C.Models.Sede>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_local)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion_local)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provincia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estadoSede)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.ClienteId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_local)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion_local)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ciudad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Provincia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Latitud)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longitud)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estadoSede)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SedeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SedeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SedeId">Delete</a> |
                    <a asp-controller="Usuario" asp-action="FindAllBySede" asp-route-id="@item.SedeId">Observar Empleados
                        Asignados</a>
                </td>
            </tr>
        }
    </tbody>
</table>
