@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = null; // Specify the layout file if needed
}
@using Microsoft.AspNetCore.Identity
@using SoftWC.Models
@inject SignInManager<SoftWC.Models.Usuario> SignInManager
@inject UserManager<SoftWC.Models.Usuario> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    var roles = user != null ? await UserManager.GetRolesAsync(user) : new List<string>();      
    @if (roles.Contains("Administrador"))
    {
        Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
        
    }
    ViewData["Title"] = "Cliente WC";
    

}

<h1>@ViewData["Title"]</h1>


<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"
                    placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"
                    placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password"
                    aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Nombre" class="form-control" aria-required="true" placeholder="Nombre"
                    value="Nombre Predeterminado" />
                <label asp-for="Input.Nombre">Nombre</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Apellido" class="form-control" aria-required="true" placeholder="Apellido"
                    value="Apellido Predeterminado" />
                <label asp-for="Input.Apellido">Apellido</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.DNI" class="form-control" aria-required="true" placeholder="DNI"
                    value="12345678" />
                <label asp-for="Input.DNI">DNI</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Telefono" class="form-control" aria-required="true" placeholder="telefono"
                    value="12345678" />
                <label asp-for="Input.Telefono">Telefono</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FechaIngreso" class="form-control" aria-required="true" placeholder="FechaIngreso"
                    value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" />
                <label asp-for="Input.FechaIngreso">Fecha de Ingreso</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FechaNacimiento" class="form-control" aria-required="true"
                    placeholder="FechaNacimiento" type="date" />
                <label asp-for="Input.FechaNacimiento">Fecha de Nacimiento</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NivelAcceso" class="form-control" aria-required="true" placeholder="NivelAcceso"
                    value="1" />
                <label asp-for="Input.NivelAcceso">Nivel de Acceso</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Estado" class="form-control" aria-required="true" placeholder="Estado"
                    value="Activo" />
                <label asp-for="Input.Estado">Estado</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Salario" class="form-control" aria-required="true" placeholder="Salario"
                    value="1500.00" type="number" step="0.01" />
                <label asp-for="Input.Salario">Salario</label>
                <span class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a
                                href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                                about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post"
                        class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name"
                                        title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>
<script src="@Url.Content("~/lib/jquery/dist/jquery.min.js")" ></script>
<script src="@Url.Content("~/js/site.js")" asp-append-version="true"></script>
<script src="@Url.Content("~/lib/bootstrap/dist/js/bootstrap.bundle.min.js")" ></script> 

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
