@model IEnumerable<SoftWC.Models.Supervision>

@using Microsoft.AspNetCore.Identity
@using SoftWC.Models
@inject SignInManager<SoftWC.Models.Usuario> SignInManager
@inject UserManager<SoftWC.Models.Usuario> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    var roles = user != null ? await UserManager.GetRolesAsync(user) : new List<string>();
    @if (roles.Contains("Administrador"))
    {
        Layout = "~/Views/Admin/_LayoutAdmin.cshtml";

    }
    ViewData["Title"] = "Supervision WC";

}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Supervisor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Supervisor.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empleado.Nombre)
                </td>
                <td>
                    @item.FechaInicio.ToString("dd 'de' MM 'del' yyyy")
                </td>
                <td>
                    @(item.FechaFin != null ? item.FechaFin.Value.ToString("dd 'de' MM 'del 'yyyy") : "")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
